<div>
    <h2>
        <span>Courrier Arrives</span>
        <button class="btn btn-primary float-right jh-create-entity create-courrier-arrive" [routerLink]="['/', { outlets: { popup: ['courrier-arrive-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Courrier Arrive
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="courrierArrives">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Numero Courrier Depart</span></th>
            <th><span>Envoye Par</span></th>
            <th><span>Date Reception</span></th>
            <th><span>Numero Projet</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let courrierArrive of courrierArrives ;trackBy: trackId">
                <td><a [routerLink]="['../courrier-arrive', courrierArrive.id ]">{{courrierArrive.id}}</a></td>
                <td>{{courrierArrive.numeroCourrierDepart}}</td>
                <td>{{courrierArrive.envoyePar}}</td>
                <td>{{courrierArrive.dateReception | date:'mediumDate'}}</td>
                <td>
                    <div *ngIf="courrierArrive.numeroProjet">
                        <a [routerLink]="['../projet', courrierArrive.numeroProjet?.id ]" >{{courrierArrive.numeroProjet?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../courrier-arrive', courrierArrive.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'courrier-arrive/'+ courrierArrive.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'courrier-arrive/'+ courrierArrive.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
