
<div *ngIf="courrierDepart">
    <h2><span>Courrier Depart</span> {{courrierDepart.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Numero Courrier Depart</span></dt>
        <dd>
            <span>{{courrierDepart.numeroCourrierDepart}}</span>
        </dd>
        <dt><span>Destinataire</span></dt>
        <dd>
            <span>{{courrierDepart.destinataire}}</span>
        </dd>
        <dt><span>Date Envoi</span></dt>
        <dd>
            <span>{{courrierDepart.dateEnvoi | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Numero Projet</span></dt>
        <dd>
            <div *ngIf="courrierDepart.numeroProjet">
                <a [routerLink]="['/projet', courrierDepart.numeroProjet?.id]">{{courrierDepart.numeroProjet?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'courrier-depart/'+ courrierDepart.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
